:root {
    --gap: 2rem;
}

@media screen and (max-width: 55em) {
    .headingInfo {
        margin-inline:1.5rem ;
    }

    .btnContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

section:nth-child(even) {background-color: whitesmoke;}

.text {
    padding: 1rem;
}

.btn,label {
    padding: 1rem;
    border: 1px solid var(--clr-dark-secondary);
    border-radius: 5px;
    background-color: white;
    color: var(--primary-bg);
    transition: 200ms ease-out;
}

.btn:hover,
label:hover {
    cursor: pointer;
    background-color: var(--clr-dark-secondary);
    color: white;
}

.box {
    padding: 1rem;
    border: 1px solid --clr-dark-secondary;
}

.box > p{
    font-size: 1.5rem;
}

#dropdown {width: 100%;}

.labelDiv {--gap:1rem;}

label {
    display: block;
    text-align: center;
    width: 100%;
    pointer-events: none;
}

#inputImage {
    display: none;
}

img {
    max-width: 400px;
    aspect-ratio: 1;
}

.display {
    width: 100%;
    padding: 1.75rem;
    background-color: var(--secondary-bg);
}