form {
    margin-top: 10vh;

    color: #e7f8ea;
    background-color: #1b765c;
    width: 40vw;

    border: none;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form select {
    width: 20vw;
}

form input {
    width: 20vw;
}

form .btn {
    display: block;
}