body {
    background-image: url("../images/bgr.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    gap: 1rem;
    border: 2px solid var(--pansy-purple);
    border-radius: 10px;
    padding: 2rem;
    max-width: fit-content;
    background-color: var(--dark-scarlet);
}

input {
    padding: 1rem;
    height:3rem;
    min-width: 225px;
    border:none;
    border-radius: 5px;
    transition: 200ms ease;
}

input:focus-within {
    outline: white 1px solid;
}

.btn {
    padding: 0!important;
    border-radius: 5px;
    background-color: white;
    color: var(--clr-dark-secondary);
    transition: 200ms ease-out;
}

.btn:hover {
    border-radius: 0px;
    box-shadow: 0px 0px 130px 0px #7f3c6b;
    cursor: pointer;
    background-color: var(--pansy-purple);
    color: white;
}
