<!DOCTYPE html
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">

    <title>Agro-ML | Plant Disease Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/disease.css') }}">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">
    <script src="{{ url_for('static', filename='js/diseases.js') }}" defer></script>
</head>
<body>
    <div class="wrapper">
        <a href="/"><div class="header">
          <h1>Agro-<span>ML</span></h1>
        </div></a>
    <form id="diseaseForm" action="/disease" method="POST" enctype="multipart/form-data">
        <div class="box">
            <h1>Please select a leaf-type<span title="Required" style="color: rgb(230, 0, 0);">*</span></h1>
            <p>NOTE: to test all 5 models, you must clone and run on a local machine</p>
            <select name="dropdown" id="dropdown">
                <option value="apple">Apple</option>
            </select>
        </div>
        <div class="box flex col">
            <input type="file" name="image" accept="image/png, image/jpg, image/jpeg">
            <input type="submit" value="Submit" class="btn">
            <p id="result" style="text-align:center;">Predicted disease: <br><span>{ -- }</span></p>
        </div>
    </form>
    </div>           
</body>
</html>